body {
	font-family: arial,verdana,helvetica,sans-serif;
	line-height: 1;
	background-color: #ffffff;
}
.hidden {
	display: block;
	position: absolute;
	left: -1000px;
}
hr {
	clear: left;
	height: 4px;
	margin: 24px 0;
	background-color: #CCCCCC;
	border-width: 0;
}
#klresponsivepoc h1#banner {
	height: 48px;
	background: #4D4D4D url('../images/banner.gif') no-repeat left top;
}
#klresponsivepoc div#primary-nav{
	font-size: 0.875em;
}
#klresponsivepoc div#primary-nav li{
	display: inline;
}
#klresponsivepoc div#primary-nav li a{
	position: relative;
	display: block;
	float: left;
	font-weight: bold;
	color: #B2B2B2;
	padding: 17px 23px 17px 14px;
	background-color: #333333;
	border-right: 1px solid #4D4D4D;	
}
#klresponsivepoc div#primary-nav li a span:after {
   display: block;
   position: absolute;
   top: 24px;
   right: 5px;
   font-weight: normal;
   content: ' ';
   width: 0;
   height: 0;
   /* arrow dimensions: height=margin-right + margin-left, width=margin-top */		
   border-width: 4px 3px 0 3px; 
   border-style: solid;
   border-color: transparent;
   border-top-color: #808080;	
}
#klresponsivepoc div#primary-nav li:last-child a{
	border-right: 0;
}
#klresponsivepoc div#primary-nav li a:hover{
	color: #ffffff;
}
#klresponsivepoc div#primary-nav li a:hover:after{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #00BD46;
	content: '';	
}
#klresponsivepoc div#primary-nav li.selected a{
	color: #ffffff;
	background-color: #000000;
}
#klresponsivepoc div#primary-nav li.selected a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #00BD46;
	content: '';
}
#klresponsivepoc div.main {
	clear: left;
	padding-top: 16px;
	padding: 16px 8px 0 8px;
}
#klresponsivepoc div.main #breadcrumb-nav{
	font-size: 0.875em;
	color: #676767;
	margin-bottom: 8px;
}
#klresponsivepoc div.main h1 {
	font-size: 1.5em;	
	margin-bottom: 24px;
}
#klresponsivepoc div.main p{
	font-size: 1em;
	line-height: 1.2em;
	color: #4D4D4D;
}
#klresponsivepoc div.main h2 {
	font-size: 1em;
	margin-top: 16px;
}
#klresponsivepoc div.main h2.grey {
	color: #808080;
}
#klresponsivepoc div.main div#secondary-nav {
	font-size: 1em;
	font-weight: bold;
	padding: 16px 0;
	line-height: 1.2em;
}
#klresponsivepoc div.main div#secondary-nav a{
	color: #000000;
	display: block;
	padding: 8px;
	background-color: #E5E5E5;
	margin-bottom: 2px;
}

#klresponsivepoc div.asset {
	width: 100%;
	height: 171px;
	background-color: #ccc;
	margin: 16px 0 16px 0;
}
#klresponsivepoc div.emp {
	position: relative;
}
#klresponsivepoc div.emp a.play {
	display: block;
	position: absolute;
	top: 45px;
	left: 0;
	width: 80px;
	height: 80px;
	background-color: #4D4D4D;
}
#klresponsivepoc div.emp a.play:before {
   display: block;
   position: absolute;
   top: 24px;
   left: 29px;
   content: ' ';
   width: 0;
   height: 0;
   /* arrow dimensions: height=margin-top + margin-bottom, width=margin-right */		
   border-width: 16px 0 16px 26px; 
   border-style: solid;
   border-color: transparent;
   border-left-color: #ffffff;	
}
#klresponsivepoc div.infographic {}
#klresponsivepoc ul.collection div.asset {
	width: 148px;
	height: 83px;
	margin: 0;
}
#klresponsivepoc ul.collection {
	margin-top: 16px;
	overflow: auto;
}
#klresponsivepoc ul.collection li {
	font-weight: bold;
	clear: left;
	padding-top: 8px;
}
#klresponsivepoc ul.collection li:first-child {
	padding-top: 0;
}
#klresponsivepoc ul.collection div.emp {
	float: left;
	margin-right: 8px;	
}
#klresponsivepoc ul.collection div.emp a.play {
	top: 51px;
	width: 32px;
	height: 32px;
}
#klresponsivepoc ul.collection div.emp a.play:before {
   top: 9px;
   left: 10px;
   /* arrow dimensions: height=margin-top + margin-bottom, width=margin-right */		
   border-width: 7px 0 7px 11px;
}
#klresponsivepoc ul.collection.inline li {
	float: left;
	clear: none;
	width: 148px;
	padding-top: 8px;
	padding-right: 4px;
}
#klresponsivepoc ul.collection.inline li:nth-child(2n+3) {
		clear: left;
}
#klresponsivepoc ul.collection.inline div.emp {
	float: none;
	margin-bottom: 8px;
}