<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>K&L responsive POC</title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/orb.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="stylesheets/ie.css">
<![endif]-->
</head>
<body>
<% if @page_type == 'gel' %>
<%= erb :'modules/barlesque/_mast_head' %>
<% end %>
<div id="klresponsivepoc">
	<header id="page-header">
	<h1 id="banner">
		<span class="label hidden">Bitesize Beta</span>
	</h1>
	<div id="primary-nav">
		<nav>
			<ul>
				<li><a href="#"><span class="label">Primary</span></a></li>
				<li class="selected"><a href="#"><span class="label">Secondary</span></a></li>
				<li><a href="#"><span class="label">All Subjects</span></a></li>
			</ul>
		</nav>
	</div>
	</header>
	<div class="main">
		<div id="breadcrumb-nav">
			<nav>
				<ol>
					<li>Breadcrumbs</li>
				</ol>
			</nav>
		</div>
		<article>
			<h1>Article title or section header</h1>
			<p>Article body text & links. Maths is the abstract
				study of topics encompassing quantity, structure, space, change, and
				others; it has no generally accepted definition.</p>
			<!-- EMP element -->
			<div class="article-body">
			<div class="asset emp">
			     <img src="images/640x360_image_content_area.jpg" />
				<a class="play" href="#"><span class="hidden">Play</span></a>
			</div>
			<p>The Development of algebra is presented through a series of
				chronological animated sketches. The concept of calculating an
				unknown quantity is introduced and how this would be carried out in
				ancient Egypt is shown. The development of quadratic equations to
				calculate areas and volumes in ancient Babylon is touched on.
				Diophantus is introduced and it is stated that he worked on
				simultaneous equations and that he introduced the use of symbols and
				abbreviations to represent unknowns, an important step towards the
				algebraic notation we use today. This was developed further by
				Islamic mathematicians, such as Al Khowarizmi, who simplified
				problems to six different types that helped them work out practical
				problems related to surveying, commerce and taxation. It is stated
				that Descartes introduced the use of the symbol x to represent an
				unknown.</p>
			<div class="asset image"><img src="images/640x320_graph.png" /></div>
			<p>The Development of algebra is presented through a series of
				chronological animated sketches. The concept of calculating an
				unknown quantity is introduced and how this would be carried out in
				ancient Egypt is shown. The development of quadratic equations to
				calculate areas and volumes in ancient Babylon is touched on.
				Diophantus is introduced and it is stated that he worked on
				simultaneous equations and that he introduced the use of symbols and
				abbreviations to represent unknowns, an important step towards the
				algebraic notation we use today. This was developed further by
				Islamic mathematicians, such as Al Khowarizmi, who simplified
				problems to six different types that helped them work out practical
				problems related to surveying, commerce and taxation. It is stated
				that Descartes introduced the use of the symbol x to represent an
				unknown.</p>
			<div class="asset infographic"><img src="images/640x320_shakespeare.png" /></div>
			<p>The Development of algebra is presented through a series of
				chronological animated sketches. The concept of calculating an
				unknown quantity is introduced and how this would be carried out in
				ancient Egypt is shown. The development of quadratic equations to
				calculate areas and volumes in ancient Babylon is touched on.
				Diophantus is introduced and it is stated that he worked on
				simultaneous equations and that he introduced the use of symbols and
				abbreviations to represent unknowns, an important step towards the
				algebraic notation we use today. This was developed further by
				Islamic mathematicians, such as Al Khowarizmi, who simplified
				problems to six different types that helped them work out practical
				problems related to surveying, commerce and taxation. It is stated
				that Descartes introduced the use of the symbol x to represent an
				unknown.</p>
				
			</div>
			<div class="asset component full-width"><img src="images/974x548_image_fullwidth.jpg" /></div>
		</article>
		<div class="subcolumn">
			<div id="secondary-nav" class="module">
				<h2>Sub heading</h2>
				<h2 class="grey">Sub heading</h2>
				<nav>
					<ul>
						<li class="is-back"><a href="#">Strong body text &amp; link</a></li>
						<li class="is-forward"><a href="#">Strong body text &amp; link</a></li>
						<li class="is-forward"><a href="#">Strong body text &amp; link</a></li>
						<li class="is-forward"><a href="#">Strong body text &amp; link</a></li>
					</ul>
				</nav>
			</div>
			<div class="module collection-container">
				<h2>Sub heading</h2>
				<ul class="collection">
					<li>
						<div class="asset emp">
							<a class="play" href="#"><span class="hidden">Play</span></a>
						</div> Strong body text & nav link
					</li>
					<li>
						<div class="asset emp">
							<a class="play" href="#"><span class="hidden">Play</span></a>
						</div> Strong body text & nav link
					</li>
					<li>
						<div class="asset emp">
							<a class="play" href="#"><span class="hidden">Play</span></a>
						</div> Strong body text & nav link
					</li>
					<li>
						<div class="asset emp">
							<a class="play" href="#"><span class="hidden">Play</span></a>
						</div> Strong body text & nav link
					</li>
				</ul>
			</div>
			<div class="module">
				<h2>Sub heading</h2>
				<ul class="collection inline">
					<li>
						<div class="asset emp">
							<a class="play" href="#"><span class="hidden">Play</span></a>
						</div> Strong body text & nav link
					</li>
					<li>
						<div class="asset emp">
							<a class="play" href="#"><span class="hidden">Play</span></a>
						</div> Strong body text & nav link
					</li>
					<li>
						<div class="asset emp">
							<a class="play" href="#"><span class="hidden">Play</span></a>
						</div> Strong body text & nav link
					</li>
					<li>
						<div class="asset emp">
							<a class="play" href="#"><span class="hidden">Play</span></a>
						</div> Strong body text & nav link
					</li>
				</ul>
			</div>

			<div class="module tabbed">
				<h2>Sub heading</h2>
				<div class="tabbox">
				
					<h3 class="front-most">Collection Heading</h3>

					<h3>Second Collection Heading</h3>
					
					<ul class="collection front-most">
						<li>
							<div class="asset emp">
								<a class="play" href="#"><span class="hidden">Play</span></a>
							</div> Strong body text & nav link
						</li>
						<li>
							<div class="asset emp">
								<a class="play" href="#"><span class="hidden">Play</span></a>
							</div> Strong body text & nav link
						</li>
						<li>
							<div class="asset emp">
								<a class="play" href="#"><span class="hidden">Play</span></a>
							</div> Strong body text & nav link
						</li>
						<li>
							<div class="asset emp">
								<a class="play" href="#"><span class="hidden">Play</span></a>
							</div> Strong body text & nav link
						</li>
					</ul>
				</div>
			</div>
			<div class="module link-box">
			<h2>Strong headline title</h2>
			<div class="image-box">
			<div class="asset">Mobile right hand 148x83</div>
			<h3>Strong body text &amp; links</h3>
			<p>Index body text & image captions. How clever are you? Learn some simple tricks.</p>
			</div>
			<ul>
			    <li><a href="#">Strong body text & links</a></li>
			    <li><a href="#">Strong body text & links</a></li>
			    <li><a href="#">Strong body text & links</a></li>
			</ul>
            </div>
		</div>
	</div>
	<!--
	<footer id="gcse-subjects">
		<div class="module-level-embed-wrapper">
			<h2>GCSE Subjects</h2>
				<div class="module-level-embed">
        

<ol class="subjects">
        <li>        <a href="/education/subjects/b4837f74-1241-4931-a36e-8b779ca17ced">Art and Design</a>
    </li>
        <li>        <a href="/education/subjects/19a163e4-52d2-41c4-b0a0-cb25640cc76b">Business</a>
    </li>
        <li>        <a href="/education/subjects/3b916278-07bc-430d-b533-56aee49cc29e">Classical Studies</a>
    </li>
        <li>        <a href="/education/subjects/2db5eb06-c06d-433f-af72-ef50f6dd6352">Design and Technology</a>
    </li>
        <li>        <a href="/education/subjects/212b0d9c-a91c-4d9a-b13a-a01a5ac268b6">Drama</a>
    </li>
        <li>        <a href="/education/subjects/ad20936c-9735-4520-8d11-2dfefb514e74">English</a>
    </li>
        <li>        <a href="/education/subjects/96243a44-9fc2-42ed-bb4c-592e8c49c643">English Literature</a>
    </li>
        <li>        <a href="/education/subjects/aa3042ae-4215-42bb-9785-d13f7c7db3b6">Geography</a>
    </li>
        <li>        <a href="/education/subjects/5ecac66d-6239-4924-a856-1a6ae49ca58b">History</a>
    </li>
        <li>        <a href="/education/subjects/2d92bbf0-a1e3-43e1-b383-3fcec6afbef6">ICT &amp; Computing</a>
    </li>
        <li>        <a href="/education/subjects/1509bf94-b36d-4563-a098-7cfa1f3de1a7">Irish</a>
    </li>
        <li>        <a href="/education/subjects/abcac9d8-f20e-4eb7-937d-ae08051fb092">Maths</a>
    </li>
        <li>        <a href="/education/subjects/4ff3e372-d6d9-41fe-b5b6-117a2792337c">Media Studies</a>
    </li>
        <li>        <a href="/education/subjects/a6f4da08-e1ec-430d-b363-90f2d6345ba1">Modern Foreign Languages</a>
    </li>
        <li>        <a href="/education/subjects/22c2aa85-3040-48d4-b3cc-10dd1782893d">Music</a>
    </li>
        <li>        <a href="/education/subjects/1d4fa614-eb72-4987-8c89-ce16ac4a50f1">PSHE &amp; Citizenship</a>
    </li>
        <li>        <a href="/education/subjects/9817a3c8-f941-48b4-bab9-a30cda2c21ef">Physical Education</a>
    </li>
        <li>        <a href="/education/subjects/590e7e1a-5547-4e9e-bd23-b726f017c15d">Religious Education</a>
    </li>
        <li>        <a href="/education/subjects/ec4d3942-86ee-4607-8544-1b6502b3a3cd">Science</a>
    </li>
        <li>        <a href="/education/subjects/94ec8801-6254-4d23-a2bc-b529da8df832">Test Sub-Subject 1</a>
    </li>
        <li>        <a href="/education/subjects/4e3cda6a-06e7-4476-a119-8e1908d49c90">Test Sub-Subject 2</a>
    </li>
        <li>        <a href="/education/subjects/956cbc94-fc68-477e-b4df-b65a42d02adf">Test Sub-Subject 3</a>
    </li>
        <li>        <a href="/education/subjects/8472a4e6-a3bd-4216-ac66-a87139d1fecc">Test Subject</a>
    </li>
        <li>        <a href="/education/subjects/0b302dbe-9ae8-4d22-ac43-9d4646f26ed5">Welsh</a>
    </li>
        <li>
        <a href="/education/levels/0c035f05-4827-45f0-a2c7-7d714e2e4cb3">All Subjects</a>
    </li>
</ol>
    </div>
</div>
		
	</footer>
	-->
	
	<div class="language-selector">
		<ol>
			<li class="first"><a href="#">Cymraeg</a></li>
			<li><a href="#">Gàidhlig</a></li>
		</ol>
	</div>
	
	<!-- GRID -->
	<!--
	<div id="grid">
        <div class="wrapper">
	        <span class="grid-column column-1">1</span>
	        <span class="grid-column column-2">2</span>
	        <span class="grid-column column-3">3</span>
	        <span class="grid-column column-4">4</span>
	        <span class="grid-column column-5">5</span>
	        <span class="grid-column column-6">6</span>
	        <span class="grid-column column-7">7</span>
	        <span class="grid-column column-8">8</span>
	        <span class="grid-column column-9">9</span>
	        <span class="grid-column column-10">10</span>
	        <span class="grid-column column-11">11</span>
	        <span class="grid-column column-12">12</span>
        </div>
    </div>
    -->
    <script type="text/javascript">
    function adjustColumns() {
	    var columnCount = 12;
	    var bodyWidth = parseInt(window.getComputedStyle(document.body).width, 10);
	    var containerWidth = parseInt(window.getComputedStyle(document.querySelector("#grid .wrapper")).width, 10);
	    var paddingWidth = parseInt(window.getComputedStyle(document.querySelector(".column-1")).marginRight, 10) * (columnCount-1);
	    var columnWidth = (containerWidth - paddingWidth) / columnCount;
	    var c = document.querySelectorAll(".wrapper .grid-column");
	    for (var i=0;i<c.length;i++) {
	    	if (bodyWidth > 911) {
	    		c[i].style.width = "";
	    	} else {
	    	    c[i].style.width = columnWidth + "px";
	    	}
	    }
    }
    function toggleGrid(e) {
        e.preventDefault();
        var g = document.getElementById("grid");
        if (g.style.display != "none") {
        	g.style.display = "none";
        } else {
        	g.style.display = "";
        }
        return false;
    }
    window.addEventListener("resize", adjustColumns);
    adjustColumns();
    var t = document.createElement("a");
    t.href="#";
    t.innerHTML = "Toggle Grid";
    t.id="grid-toggle";
    document.body.appendChild(t);
    t.addEventListener("click", toggleGrid);
    </script>
</div>
<% if @page_type == 'gel' %>
<%= erb :'modules/barlesque/_footer' %>
<% end %>
</body>
</html>