<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>K&L responsive POC</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">        
    </head>
    <body id="klresponsivepoc">
        <h1 id="banner"><span class="label hidden">Bitesize Beta</span></h1>
        <div id="primary-nav">
            <nav>
                <ul>
                    <li><a href="#"><span class="label">Primary</span></a></li>
                    <li class="selected"><a href="#"><span class="label">Secondary</span></a></li>
                    <li><a href="#"><span class="label">All Subjects</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div id="breadcrumb-nav">
                <nav>
                    <ol>
                        <li>Breadcrumbs</li>
                    </ol>
                </nav>
            </div>
            <div>
                <h1>Article title or section header</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <!-- EMP element -->
                <div class="asset emp"><a class="play" href="#"><span class="hidden">Play</span></a></div>
                
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <img src="" />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <div class="asset infographic"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                
                <h2>Sub heading 16px bold</h2>
                
                <h2 class="grey">Sub heading 16px bold</h2>
                
                <div id="secondary-nav">
                    <nav>
                        <ul>
                            <li><a href="#">Strong body text & nav link 16px bold</a></li>
                            <li><a href="#">Strong body text & nav link 16px bold</a></li>
                            <li><a href="#">Strong body text & nav link 16px bold</a></li>
                            <li><a href="#">Strong body text & nav link 16px bold</a></li>
                        </ul>
                    </nav>                
                </div>
                
                <h2>Sub heading 16px bold</h2>
                
                <ul class="collection">
                    <li>
                        <div class="asset emp"><a class="play" href="#"><span class="hidden">Play</span></a></div>
                        Strong body text & nav link 16px bold
                    </li>
                    <li>
                        <div class="asset emp"><a class="play" href="#"><span class="hidden">Play</span></a></div>
                        Strong body text & nav link 16px bold
                    </li>
                    <li>
                        <div class="asset emp"><a class="play" href="#"><span class="hidden">Play</span></a></div>
                        Strong body text & nav link 16px bold
                    </li>
                    <li>
                        <div class="asset emp"><a class="play" href="#"><span class="hidden">Play</span></a></div>
                        Strong body text & nav link 16px bold
                    </li>
                </ul>
                
                <hr />
                
                <h2>Sub heading 16px bold</h2>
                
                <ul class="collection inline">
                 <li>
                    <div class="asset emp"><a class="play" href="#"><span class="hidden">Play</span></a></div>
                        Strong body text & nav link 16px bold
                    </li>
                    <li>
                        <div class="asset emp"><a class="play" href="#"><span class="hidden">Play</span></a></div>
                        Strong body text & nav link 16px bold
                    </li>
                    <li>
                        <div class="asset emp"><a class="play" href="#"><span class="hidden">Play</span></a></div>
                        Strong body text & nav link 16px bold
                    </li>
                    <li>
                        <div class="asset emp"><a class="play" href="#"><span class="hidden">Play</span></a></div>
                        Strong body text & nav link 16px bold
                    </li>
                </ul>
                
                <hr />
                
                
            </div>
        </div>
        
    </body>
</html>