#primary-nav nav{
	width: inherit;
    max-width: 100%;
}
div#primary-nav li:last-child a {
    margin-right: 10px;
}


@media screen and (min-width: 400px) and (max-width: 671px) {

    h1#banner {
        background-position: 16px 8px;
    }
    .language-selector{
        padding-left: 16px;
    }    
}

/** Tablets **/
/** Google Nexus landscape: 720px **/
/** iPad portrait: 768px **/
@media screen and (min-width: 600px) and (max-width: 911px) {
	
    h1#banner {
        margin-right: 0;
        margin-left: 0;
    }
    #primary-nav nav {
        margin-right: 0;
        margin-left: 0;
    }
    div.asset img{
        width: 100%;
    }
	.language-selector {
		padding-left: 16px;
	}
	div.main {
        width: 79.5%;
        /*min-width: 640px;*/
        margin-left: 79px;
        padding: 0;
    }    
    .module {
    	/*width: 284.5px;*/
    	/*width: 37%;*/
    	width: 48%;
    }
    div.subcolumn {
    	width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 671px) {
	.module {
    	/*width: 284.5px;*/
    	/*width: 37%;*/
    	width: 100%;
    }	
}


/** iPad landscape: 1024px **/
/** Desktop **/
@media screen and (min-width: 912px) {
   #primary-nav nav {
    	max-width: 976px;
        padding-left: 16px;
        padding-right: 0;
    }
    .language-selector ol {
        margin-left: auto;
        margin-right: auto;
        width: 976px;
	}
}

@media screen and (min-width: 1008px) {
       /*max-width: ;*/
}

